header {
    width: 100%;
    background-color: #4f709c;
    nav {
        a {
            color:  #f5efe7 !important;
        }
    }
}

.dropdown-menu {
    background-color: #000000bf !important;
}